<!--模特 兴起 模特公司 知名模特-3 资源下载--视频 关于我们-->
<html>
    <head>
        <meta charset="UTF8">
        <title>知名模特</title>
		<link rel="stylesheet" href="static/css/MI.css"/>
    </head>
    <body bgcolor="black" >
        <!--导航栏-->
        <div class="header" style="background-color: rgb(0, 0, 0,0.8);">
        </br>
            <div class="lanmu">
                &nbsp;&nbsp;&nbsp;&nbsp;<a href="/" style="margin-left: 35px;color:white">首页</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a style="color:white" href="/mi">模特职员</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a style="color:white" href="/us">招聘</a>
            </div>
            <div class="search">
                <form action="" class="parent">
                    <input type="text" class="search" placeholder="搜索">
                    <input type="button" name="" id="" class="btn">
                </form>
            </div>
        </div>
        <!--主体-->
        <!--Elena Egorova  Jessica steam  Anok Yai-->
        <div class="body" style="margin-top: 50px;">
            <div class="E">
                <div class="left1">
                    <img src="static/images/13.png"/></div>
                <div class="content1" style="color:white;">
                    <p>Elena Egorova</p>
                    <p>身高181㎝，三维82 60 89，瞳色蓝，发色金色，儒雅知性的气质，曾多次为Armani走秀</p></div>
                <div class="content2"></div>
                <div class="right">
                    <video>
                        <source src="" type=""/>
                    </video></div>
            </div>
    
            <div class="J">
                <div class="right2">
                    <img src="static/images/14.png"/></div>
                <div class="left2" style="color:white;">
                    <p>Jessica Stam</p> 
                    <p>身高178cm，三维86 61 87，娃娃脸，猫样明媚，上过几乎所有的国际大牌时装秀</p></div>
                <div class="content4">
                    <video>
                        <source src="" type=""/>
                    </video></div>
                <div class="content3"></div>
            </div>
    
            <div class="A">
                <div class="left3">
                    <img src="static/images/15.png"/>
                </div>
                <div class="content5" style="color:white;">
                    <p>Anok Yai</p>
                    <p>身高178，三维86 60 90，巧克力肤色，几乎完美的身材比例，全球前50强模特</p>
                </div>
                <div class="content6"></div>
                <div class="right3">
                </div>
            </div>
        </div>
        <!--版权-->
        <div class="footer" style="color: white;">
        </br>
        <center> 版权由xxx所有</center>
        </div>
	 </body>
</html>