<!--模特 兴起 模特公司 知名模特-3 资源下载--视频 关于我们-->
<html>
    <head>
        <meta charset="UTF8">
        <title>兴起</title>
		<link rel="stylesheet" href="static/css/us.css"/>
    </head>
    <body bgcolor="grey" >
        <!--导航栏-->
        <div class="header" style="background-color: rgb(0, 0, 0,0.8);">
        </br>
            <div class="lanmu">
                &nbsp;&nbsp;&nbsp;&nbsp;<a href="/" style="margin-left: 35px;color:white">首页</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a style="color:white" href="/mi">模特职员</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a style="color:white" href="/us">招聘</a>
            </div>
        </div>
        <!--主体-->
            <!--导语 <input type="text" name="pex" placeholder="&nbsp;工作经历">-->
        <div class="body">
            <div class="pic">
                <img src="static/images/20.jpg"/>
            </div>
            <div class="content1">
                <img src="static/images/19.jpg"/>
            </div>
            <div class="content2">
                <img src="static/images/18.jpg"/>
            </div>
            <div class="content3">
                <img src="static/images/17.jpg"/>
            </div>
            <div class="content4">
                <img src="static/images/16.jpg"/>
            </div>
            <div class="content5">
                <div class="con1"><b><center>模特招募</center></b></div>
                <hr>
                <div class="con2" style="text-indent:2em;">
                    <p>
                        <center>
                            公司历史悠久，有着丰富的资源我们公司超级有钱，不会拖拉员工工资，周末双休，年终奖金丰厚，有加班费，不会无故随意加班，工资从分体现个人能力。工作环境规范化，良好的团队精神，清晰的职业发展。
                        </center>
                    </p>
                    <hr>
                </div>
            </div>
            <div class ="form" >
                <form action="/us" method="post">
                    <div class="input_1"><b><center>个人信息</center></b></div>
                    <hr>
                </br>
                    <div class="input_1"><input type="text" name="name" placeholder="&nbsp;姓名"></div>
                    <div class="input_1"><input type="email" name="email" placeholder="&nbsp;邮箱"></div>
                    <div class="input_1"><input type="number" name="tall" placeholder="&nbsp;身高"></div>
                    <div class="input_1"><input type="text" name="threeD" placeholder="&nbsp;三维"></div>
                </br>
                    <textarea name="workExperience" aria-rowcount="30" placeholder="工作经历" style="width: 100%; height: 50%;"></textarea>
                    <hr>
                    <input type="submit" value="提交"/>
                </form>
            </div>    
        </div>
        <!--版权-->
        <div class="footer">
        </br>
        <center> 版权由xxx所有</center>
        </div>
	 </body>
</html>