<html>
    <head>
        <meta charset="UTF8">
        <title>兴起</title>
		<link rel="stylesheet" href="static/css/user.css"/>
    </head>
    <body>
      <!--个人信息-->
      <div class="messg">
        <div class="img"></div>
        <div class="messg1">
          <table class="m" border="1" cellspacing="0">
            <tr>
              <td>MESSAGE</td>
            </tr>
            <tr>
              <td>NAME</td>
            </tr>
            <tr>
              <td>TALL</td>
            </tr>
            <tr>
              <td>SANWEI</td>
            </tr>
            <tr>
              <td><a href="/" style="margin-left: 35px;color:black"><center>返回首页</center></a></td>
            </tr>
          </table>
        </div>
      </div>
      <!--表格-->
      <div class="content">
        <table border="1"cellspacing="0">
          <caption>PLANS</caption>
          <thead>
            <tr>
              <th>NAME</th>
              <th>CONTENT</th>
              <th>操作</th>
            </tr>
            <tbody>
              <tr>
                <td>SAMPLE</td><td>SAMPLE</th><td><input type="checkbox" name="vehicle" value="Blike" /></td>
              </tr>
              <tr>
                <td>SAMPLE</td><td>SAMPLE</td><td><input type="checkbox" name="vehicle" value="Blike" /></td>
              </tr>
              <tr>
                <td>SAMPLE</td><td>SAMPLE</td><td><input type="checkbox" name="vehicle" value="Blike" /></td>
              </tr>
              <tr>
                <td>SAMPLE</td><td>SAMPLE</td><td><input type="checkbox" name="vehicle" value="Blike" /></td>
              </tr>
              <tr>
                <td>SAMPLE</td><td>SAMPLE</td><td><input type="checkbox" name="vehicle" value="Blike" /></td>
              </tr>
              <tr>
                <td>SAMPLE</td><td>SAMPLE</td><td><input type="checkbox" name="vehicle" value="Blike" /></td>
              </tr>
            </tbody>
          </thead>
        </table>
        </div>
      </div>
    </body>
</html>