<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>登录注册</title>
    <link rel="stylesheet" href="static/css/style.css"/>
    <script src="static/js/jquery.min.js"></script>
    <style>
        button {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="box">
        <h2>注册</h2>
        <form action="/register" method="post">
            <div class="input-box">
                <label>所在地</label>
                <input id="address" name="address" type="text" value="" />
            </div>
            <div class="input-box">
                <label>账号</label>
                <input id="account_number" name="account_number" type="word" value="" />
            </div>
            <div class="input-box">
                <label>密码</label>
                <input id="password" name="password" type="password" value="" />
            </div>
            <div class="btn-box">
            <div>
                <button>注册</button>
            </div>
        </form>
        </div>
    </div>
</body>
</html>
